<mat-toolbar color="primary" class="app-header">
  <div>PRF Webshop 22'</div>
  <span class="nav-tool-items">
    <a *ngIf="!isLoggedIn()" mat-button routerLink="login" routerLinkActive="active">Log In</a>
    <a *ngIf="!isLoggedIn()" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    <a *ngIf="isLoggedIn()" mat-button routerLink="shop" routerLinkActive="active">Shop</a>
    <a *ngIf="isLoggedIn()" mat-button routerLink="cart" routerLinkActive="active">Cart</a>
    <a *ngIf="isLoggedIn()" mat-button mat-raised-button routerLink="login" routerLinkActive="active" (click)="logOut()">Log Out</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>