<div class="d-block">
  <div class="d-flex justify-content-center p-2">
    <a class="nav-link" href="/shop">
      <button type="button" class="btn btn-secondary btn-lg btn-block">Termék hozzáadása</button>
    </a>
  </div>
  <div class="d-block px-md-5 p-2">
    <span class="d-block p-2 bg-primary text-white"></span>
    <div class="p-3 border bg-light">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Áru</th>
            <th scope="col">Ár</th>
            <th scope="col">Darab</th>
            <th scope="col">Művelet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index">
            <td>{{product.nev}}</td>
            <td>{{product.ar}}</td>
            <td>
              <mat-form-field>
                <input matInput type="number" placeholder="0" min="0" [max]="product.darab" [(ngModel)]="input_num[i]">
                <span matSuffix>db</span>
              </mat-form-field>
            </td>
            <td class="d-flex justify-content-around">
              <button type="button" class="btn btn-outline-secondary"
                (click)="addToCart(product._id, i)">Kosárba</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>